@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*GENERAL*/
:root {
    --primary-color: #002c63;
    --secondary-color: #FDC500; 
    --background-color: #ffffff; 
    --second-background-color: #FFD500;
    --text-color: #003f88;
    --link-color: #003f88; 
    --link-color-hover: #002c63; 
    --link-visited: #305588;
    --link-active: #128800;
    --button-bg-color: #003f88; 
    --button-hover-bg-color: #000a21;
    --hover: #002c63;
    --background: #F5F5F5;
    --black: #000000;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

html {
    font-size: 18px;
}

body {
    font-family: Merriweather, serif;
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 20px;
}

a:focus {
    border: 3px solid var(--primary-color);
}
a:visited {
    color: var(--link-visited);
}
a:active {
    color: var(--second-background-color);
}
/*HEADER*/
header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
    background-color: var(--primary-color);
    position: sticky;
    transition: top 0.5s;
    top: 0;
    z-index: 1000;
}


header button {
    all: unset; 
    display: inline-block; 
    color: var(--background-color);
    text-decoration: none;
    border-radius: 40px;
    padding: 0.5em;
    font-size: 1.3em;
    margin: 1em;
    background-color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease-out;
    border: 3px solid var(--background-color);
}



header button:hover, header button:focus {
    background-color: var(--button-hover-bg-color);
    transition: .5s ease-out!important;
    transition: transform 0.2s ease-in-out;
    image-rendering: crisp-edges;
    transform: scale(1.1);
  
}

header h1 {
    margin: 1rem 0px;
    font-size: 2rem;
    margin-right: 50px;
    color: var(--background-color);      
}
h1::first-letter {
    color: var(--second-background-color);
}

img[src*="portfolio/assets/images/ALEXANDER.png"] {
    max-width: 60px;
    max-height: 60px;
    min-width: 50px;
    min-height: 50px;
    margin: 15px;
}
/*CONTACT*/

#contact {
    margin: 4rem;
    padding: 0;
    text-align: center;
    
}

#contact h2 {
    padding: 0;
    margin: 2rem;
    font-size: 3rem;
    background-color: var(--background);
    text-decoration: underline var(--secondary-color);
    
}
#contact h2::first-letter {
    color: var(--primary-color);
}

#contact a {
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    margin: 2rem;
    border-radius: 30px;
       
}


#contact img {
    display: block; 
    border-radius: 50%;
    
}

img[src*="portfolio/assets/icons/mail.png"], img[src*="portfolio/assets/icons/github.png"], img[src*="portfolio/assets/icons/telephone.png"] {
    max-width: 60px;
    max-height: 60px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 20px;
}

#w3c img {
    all: unset;
}

#conct a, #w3c {
    transition: transform 0.5s ease-in-out;
}

#w3c:hover,  #w3c:focus, #conct a:hover, #conct a:focus { 
    transition: transform 0.5s ease-in-out;
    image-rendering: crisp-edges;
    transform: scale(1.1);
}